.info {
    margin-top: 2em;
}

.info p {
    margin-bottom: 1em;
    font-size: 1.2em;
}

.info ul {
    margin-left: 2em;
    font-size: 1.1em;
}

.images {
    margin-top: 3em;

    display: flex;

    align-items: center;
    justify-content: space-around;
}

.images img {
    width: 45%;
}