* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

.container {
    display: flex;

    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;

    height: 100%;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;

    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 3em;

    background-color: rgb(153, 190, 220);
}

a:link,
a:visited {
    color: rgb(30, 108, 171);
    text-decoration: none;
}