* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

.container {
    display: flex;

    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 1000px;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;

    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 3em;

    background-color: rgb(153, 190, 220);
}

a:link,
a:visited {
    color: rgb(30, 108, 171);
    text-decoration: none;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2em;
}

.title h1 {
    font-size: 5em;
    font-weight: bold;
}

.title h3 {
    font-size: 2em;
    font-weight: lighter;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 17%;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    padding-top: 0em;
}

.navigation a {
    font-size: 1.85em;
    font-weight: bold;
}

.info {
    margin-top: 2em;
}

.info p {
    margin-bottom: 1em;
    font-size: 1.2em;
}

.info ul {
    margin-left: 2em;
    font-size: 1.1em;
}

.images {
    margin-top: 2em;

    display: flex;

    align-items: center;
    justify-content: space-around;
}

.images img {
    width: 80%;
}